body {
    width: 100%;
    height: 100%;
    background: #328ef7;
}

.cabecalho {
    padding: 12px;
    background: #00ff88;
}

h1 {
    font-size: 52px;
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-overflow: ellipsis;
    margin: 4px;
}

.preenchimento {
    width: 15%;
    padding: 0.5px;
    font-size: 1.0.3em;
    background: #00ff88;
    margin-top: 22px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-overflow: ellipsis;
    margin: 20px;
}

p {
    color: #f9fcfa;
}

ol {
    color: rgb(8, 8, 8);
}

li {
    color: rgb(5, 5, 5);
}

dd {
    width: 50%;
    color: rgb(8, 8, 8);
    font-size: 20px
}

dt {
    color: rgb(7, 6, 6);
}

.descricao {
    width: 80%;
    color: rgb(14, 12, 12);
    font-size: 20px
}

h2,
h3 {
    color: #f9fcfa
}